<!-- <form action="">
    <div>
    <input class="form-control" type="text" value="Readonly input here..." aria-label="readonly input example" readonly>
    <input class="form-control" type="text" value="Readonly input here..." aria-label="readonly input example" readonly>
    <input class="form-control" type="text" value="Readonly input here..." aria-label="readonly input example" readonly>
</div>
<div><select class="form-select" aria-label="Default select example">
    <option selected>Open this select menu</option>
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
  </select></div>
  <div><input class="form-control" type="text" value="Readonly input here..." aria-label="readonly input example" readonly></div>
  <div><button>Add</button></div>
</form>


<form action="">

    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="title" name="" placeholder="Enter a title">
        <label for="title">Title: </label>
      </div>
      <div class="form-floating">
        <textarea class="form-control" placeholder="Leave a description" id="description" name="" style="height: 100px"></textarea>
        <label for="description">Description</label>
      </div>
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="image" name="" placeholder="Enter en image url">
        <label for="image">Image </label>
      </div>
      <div class="form-floating">
        <select class="form-select"  name="" id="genre" aria-label="Floating label select example">
          <option selected>Open this select menu</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
        <label for="floatingSelect">Select genre</label>
      </div>
      <div class="form-floating mb-3">
        <input type="number" class="form-control" id="release-year" name="" placeholder="Enter a title">
        <label for="release-year">Release year </label>
      </div>
      <button type="submit" class="btn btn-primary">Add</button>
</form> -->
<h1 style="text-align: center">New game</h1>
<div class="d-flex justify-content-center">
<div style="width: 50%;">
<form method="post">
    <div class="row mb-3">
        <div class="col">
            <label style="margin-left: 5px">Title</label>
            <input
            type="text" 
            placeholder="Title"
            name="game_name"
            class="form-control">
        </div>
    </div>
        <div class="row mb-3">
            <div class="col">
                <label style="margin-left: 5px">Description</label>
                <textarea
                type="text" 
                placeholder="Description"
                name="description"
                class="form-control"> 
            </textarea>
            </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <label style="margin-left: 5px">Image Url</label>
            <input
            type="text" 
            placeholder="Image url"
            name="image_url"
            class="form-control">
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <label style="margin-left: 10px">Genre</label>
            <select class="form-control" name="genre" style="margin-bottom: 20px">
                    <option>Puzzle</option>
                    <option>Shoot em up</option>
                    <option>MMO</option>
                    <option>Fantasy</option>
                    <option>Horror</option>
            </select>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <label style="margin-left: 5px">Release year</label>
            <input
            type="text" 
            placeholder="Release year"
            name="release_year"
            class="form-control">
        </div>
    </div>
    <button style="width: 10%;" class="btn btn-primary">Add</button>
</form>
</div>
</div>