<section>
    <h1>New higscore </h1>
<form action="post">
    <select class="form-select" aria-label="Default select example">
        <option selected>Select</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>   
      <div class="mb-3">
        <label for="player" class="form-label">Player</label>
        <input type="text" class="form-control" id="player" name="" placeholder="Enter your name">
      </div>
      <div class="mb-3">
        <label for="date">Date:</label>
        <input type="date" id="date" name="date">
      </div>
<div class="mb-3">
    <label for="score">Score:</label>
    <input type="number" id="score" name="score">
</div>
<button></button>
</form>
</section>