<section class="all-games mb-4">
  <h2 class="text-center mb-4">Highscore</h2>

  <% allGames.forEach(game => { %>
    <ol class="list-group list-group-numbered">
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold"><%=game.game%></div>
          <%=game.player%>, <%=game.score_date%>
        </div>
        <span class="badge bg-primary rounded-pill"><%=game.points%></span>
      </li>
    </ol>
 <% }) %>

</section>